# SPDX-FileCopyrightText: 2020-2022 Eduard Wolf
#
# SPDX-License-Identifier: CC0-1.0

# https://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
max_line_length = 120
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{kt,kts}]
ktlint_code_style = android_studio
indent_size = 4
ij_kotlin_name_count_to_use_star_import = 9999
ij_kotlin_imports_layout=*,java.**,javax.**,kotlin.**,^
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

[*.properties]
ij_properties_keep_blank_lines = true
